/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --gris-fonce: #D9D9D9;
    --gris-clair: #F2F2F2;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--gris-fonce);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

br {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.top {
    display: flex;
    flex-direction: column;
   
}

/****** Header ***********/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.navbar img {
    width: 5%;
}

nav {
    display: flex;
}

nav a {
    padding: 15px;
    margin: 0px;
}

.titres a:hover {
    color: var(--main-color);
    border-top: solid 2px var(--main-color);
    padding-top:  13px;
}

/****** form ***********/

.heading h1,
.heading p {
    margin: 0px;
}

.heading p {
    margin-top: 10px;
}

form {
    margin: 0px;
    display: flex;
}

form label,
input {
    font-size: 18px;
    ;
}

input {
    font-weight: 700;
}

form label {
    background-color: var(--gris-clair);
    border-radius: 10px 0 0 10px;
    margin: 0px;
    padding: 15px;

}

.fa-location-dot {
    color: black;

}

.champ {
    border: solid var(--gris-clair);
    border-width: 2px 0px 2px 0px;
    padding: 9px;
    margin: 0px;

}

.barre-recherche {
    display: flex;
    margin-top: 30px;

}

.recherche-icon {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border-radius: 0 15px 15px 0;
    padding: 9px;
    margin: 0px;

}

.recherche {
    background-color: var(--main-color);
    font-weight: 700;
    color: var(--main-bg-color);
    border: none;
}



/****** filtres ***********/


.filtres {
    display: flex;
    margin: 30px 0px;
    gap: 10px;

}

.boutons {
    display: flex;
    gap: 10px;

}


.filtres h3 {
    font-size: 18px;
}

.boutons button {
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    border: 1px solid var(--gris-fonce);
    border-radius: 50px;
    background-color: white;
}

.boutons button:hover {
    background-color: var(--filter-bg-color);
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.infoicon {
    box-sizing: border-box;
    border: 1px solid var(--gris-clair);
    border-radius: 50%;
    text-align: center;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.fa-info {
    display: inline-block;
    vertical-align: middle;
}

/****** fin filtres ***********/

.section-title {
    margin: 0px;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}


/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

#hebergements {
    width: 65%;
}

.afficher-plus {
    font-weight: 700;
    margin-top: 30px;
}


.card-content {
    margin: 0px;
    margin-left: 15px;
}


#hebergements .card {
    padding-bottom: 8px;
    width: 30%;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;

}

#hebergements img {
    height: 120px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;

}

#hebergements .card-title {
    margin-top: 5px;
}

#hebergements .card-subtitle {
    margin-bottom: 5px;
}

/****** Populaires ***********/

.section .populaires {
    margin-bottom: 0px;
}

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

#activites {
    padding: 60px 0px;
}

#activites h2 {
    padding-bottom: 30px;
}

.card-activites {
    display: flex;
    justify-content: space-between;

}

.card-activites h3 {
    padding-left: 20px;
    height: 25px;
    display: flex;
    align-items: center;
}

.card-activites a {
    width: 23%;

}

.card-activites .card {
    padding: 0px;
    padding-bottom: 10px;
}

.card-activites img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

/****** footer ***********/

footer {
    background-color: var(--gris-clair);
}


.footer-liste {
    display: flex;
    justify-content: flex-start;
    column-gap: 15%;
}

footer ul {
    display: block;
    float: left;
    list-style-type: none;
}

footer li {
    padding-bottom: 15px;
}


footer ul li:first-child {
    font-weight: 700;
}

